<footer>
    <div>
        <h2>What is Lister</h2>
        <p>Lister is a free online product listing platform. It is a place where you can list your products to sell and reach a large customer base.</p>
        <p>If you don't want to sell anything, but you are looking for some cheap products, then you can also find products for sale by other people.</p>
    </div>
    <div>
        <h4>Lister LLC.</h4>
        <h4>Nabeegh Ahmed</h4>
        <h4><i>nabeegh08@gmail.com</i></h4>
    </div>
</footer>



</body>
</html>