

<section>
    <div id="login">
        <form action="/login" method="post">
            <label for="email">E-mail: </label>
            <input type="email" name="email" placeholder="someone@example.com" required><br>
            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="*********" required><br>
            <input type="submit" value="Register">  
        </form>
    </div>
    <div id="register">
        <form action="/signup" method="post">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" placeholder="John" required><br>
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" placeholder="Doe" required><br>
            <label for="email">E-mail: </label>
            <input type="email" name="email" placeholder="someone@example.com" required><br>
            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="*********" required><br>
            <input type="submit" value="Register">
        </form>
    </div>
</section>